<!DOCTYPE html>
<html>
<head lang="zh-CN">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="images/favicon.ico">
    <link rel="stylesheet" href="thirdparty/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="thirdparty/ueditor/themes/default/css/ueditor.min.css">
    <link rel="stylesheet" href="css/style.css">
    <script  src="js/jquery.min.js"></script>
    <script src="thirdparty/bootstrap/js/bootstrap.min.js"></script>
    <script src="thirdparty/layer/layer.min.js"></script>
    <script src="thirdparty/ueditor/ueditor.config.js"></script>
    <script src="thirdparty/ueditor/ueditor.all.js"></script>
    <script src="js/citylist.js"></script>
    <script>
        function cancelBtn(){
            var index=parent.layer.getFrameIndex(window.name);
            parent.layer.close(index);
        }
    </script>
    <title>新闻编辑</title>
</head>
<body>
<#include "/WEB-INF/ftl/nav.ftl">
<div class="container main">
    <div class="panel panel-info">
        <div class="panel-heading">编辑 新闻ID：${info.id}</div>
        <div class="panel-body">
        	<div class="container-fluid">
                <div class="row">
                	<div class="col-md-6">
						 <form class="form-horizontal panel_body_form">
				                <div class="form-group full_width fl">
				                    <label class="control-label li_title fl">标题：</label>
				                    <textarea class="form-control li_content" style="height: 120px;margin-left: 4px;" id="title" >${(info.title)!''}</textarea>
				                </div>
				                <div class="form-group full_width fl">
				                    <label class="control-label li_title">作者：</label>
				                    <input class="form-control li_content" id="author"  type="text" value="${(info.author)!''}">
				                </div>
				                <div class="form-group full_width fl">
				                    <label class="control-label li_title">来源：</label>
				                    <input class="form-control li_content" id="source"  type="text" value="${(info.source)!''}">
				                </div>
				                <div class="form-group full_width fl">
				                    <label class="control-label li_title">发布时间：</label>
				                    <input class="form-control li_content" id="reldt" type="datetime-local" value="<#if info.release_date?exists>${info.release_date?string('yyyy-MM-dd')}T${info.release_date?string('HH:mm')}</#if>">
				                </div>
				            </form>               		            
                	</div>
                	
                	<div class="col-md-6">
                		<#if info.imgpath?exists>
                		<img src="img/${info.imgpath}" style="margin-top: 15px;" width="465px;" height="270px;">
                		</#if>
                	</div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <form class="form-horizontal">
                            <label class="control-label li_title fl">内容：</label>
                            <div class="fl">
                                <script id="content" type="text/plain"  style="width:900px;height:240px;">${(info.content)!''}</script>
                            </div>
                        </form>
                        <script type="text/javascript" >
                            var ue = UE.getEditor('content');
                            function confirm(){
                                var text=ue.getContent();
                                var edt=document.getElementById("edt");
                                edt.content.value=text;
                                edt.title.value=document.getElementById("title").value;
                                edt.author.value=document.getElementById("author").value;
                                edt.source.value=document.getElementById("source").value;
                                edt.reldt.value=document.getElementById("reldt").value;
                                edt.submit();
                            }
                        </script>
                    </div>
                </div>                
             </div>   
        </div>
    </div>
    <div class="fr footer_btns">
        <a class="btn btn-primary footer_btn" href="javascript:confirm();" role="button">确定</a>
        <a class="btn btn-default footer_btn" href="javascript:history.back(-1);" role="button">取消</a>
    </div>
</div>

    <form action="editNews.do" id="edt" method="post">
        <input type="hidden" name="id" value="${info.id}"/>
        <input type="hidden" name="imgpath"  value="${(info.imgpath)!''}"/>
        <input type="hidden" name="title" />
        <input type="hidden" name="author" />
        <input type="hidden" name="reldt" />
        <input type="hidden" name="source" />
        <input type="hidden" name="content" />
    </form>
</body>
</html>