<!DOCTYPE html>
<html>
<head lang="zh-CN">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="images/favicon.ico">
    <link rel="stylesheet" href="thirdparty/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="css/style.css">
    <script  src="js/jquery.min.js"></script>
    <script src="thirdparty/bootstrap/js/bootstrap.min.js"></script>
    <script src="thirdparty/layer/layer.min.js"></script>
    <script src="js/common.js"></script>
    <script>
        $(function () {
            $('li.navbars').hover(function () {
                        $(this).addClass("active");
                    }, function () {
                        $(this).removeClass("active");
                    }
            );
            var sortWord="${sortWord}";
            var divid="reldt";
            if(sortWord.indexOf("desc")>=0){
            	$("#"+divid).removeClass("glyphicon-arrow-up").addClass("glyphicon-arrow-down");
            }else{
            	$("#"+divid).removeClass("glyphicon-arrow-down").addClass("glyphicon-arrow-up");
            }
        });

        function table_fy(p){
            var form = document.getElementById("search_form");
            form.option.value=document.getElementById("option").value;
            form.keyWord.value=document.getElementById("keyWord").value;
            form.startdt.value=document.getElementById("startdt").value;
            form.enddt.value=document.getElementById("enddt").value;
            form.sortWord.value=document.getElementById("sortWord").innerHTML;
            form.pageNow.value=p;
            form.submit();
        }
        
        function search(){
            var form = document.getElementById("search_form");
            form.option.value=document.getElementById("option").value;
            form.keyWord.value=document.getElementById("keyWord").value;
            form.startdt.value=document.getElementById("startdt").value;
            form.enddt.value=document.getElementById("enddt").value;
            form.sortWord.value=document.getElementById("sortWord").innerHTML;
            form.submit();
        }
        
        function sort(divid){
           var sortWord= sortSelect(divid)+swtichUpDowm(divid);
           document.getElementById("sortWord").innerHTML=sortWord;
           var form = document.getElementById("search_form");
           form.option.value=document.getElementById("option").value;
           form.keyWord.value=document.getElementById("keyWord").value;
           form.startdt.value=document.getElementById("startdt").value;
           form.enddt.value=document.getElementById("enddt").value;
           form.sortWord.value=sortWord;
           form.submit();
        }

        function swtichUpDowm(divid){
            var strClass=$("#"+divid).prop("class");
            if(strClass.indexOf("up")>=0){
                $("#"+divid).removeClass("glyphicon-arrow-up").addClass("glyphicon-arrow-down");
                return " desc";
            }else if(strClass.indexOf("down")>=0){
                $("#"+divid).removeClass("glyphicon-arrow-down").addClass("glyphicon-arrow-up");
                return "";
            }
        }

        function sortSelect(divid){
            var sortColumn="";
            if(divid=="reldt"){
                sortColumn=" nvl(to_char(release_date,'yyyy-MM-dd'),'1000-01-01')";
            }
            return sortColumn;
        }
        
        function deleteNews(){
        	var temp = "";
        	var keys = $("input[name='an']:checked");
        	for (var i = 0; i < keys.length; i++) {
        		temp += keys[i].value + ";";
        	}
        	if (temp == "") {
        		layer.alert("请先选择要删除的新闻！",0);
        		return;
        	}
        	var del=document.getElementById("del");
        	del.keyStr.value=temp.substr(0, temp.length - 1);
        	
	       	 $.layer({
	     	    shade: [0],
	     	    area: ['280px','150px'],
	     	    title:'提示',
	     	    dialog: {
	     	        msg: '确定要删除吗？',
	     	        btns: 2,                    
	     	        type: 4,
	     	        btn: ['确定','取消'],
	     	        yes: function(){
	     	        	del.submit();
	     	        }, no: function(){
	     	        	return;
	     	        }
	     	    }
	     	});
        }
    </script>
    <title>新闻管理</title>
</head>
<body>
<#include "/WEB-INF/ftl/nav.ftl">
<#include "/WEB-INF/ftl/macro.ftl">

    <div class="container main">
        <div class="row"  style="padding-bottom:8px;border-bottom: solid 1px #eee;">
            <div class="col-md-12">
                <a class="btn btn-primary" href="toAddNews.do" style="width: 100px;" role="button">添加新闻</a>
            </div>
        </div>
        <form class="form-inline form_block">
            <div class="form-group">
                <label>发布时间：</label>
                <input class="form-control" type="date" id="startdt" value="${(startdt)!''}">
                <label> - </label>
                <input class="form-control" type="date" id="enddt" value="${(enddt)!''}">
            </div>
            <div class="form-group pull-right">
                <select class="form-control" id="option">
                	<option value="" <#if option==''>selected</#if>>查询字段</option>
                    <option value="id" <#if option=='id'>selected</#if>>新闻ID</option>
                    <option value="title" <#if option=='title'>selected</#if>>标题</option>
                    <option value="author" <#if option=='author'>selected</#if>>作者</option>
                    <option value="content" <#if option=='content'>selected</#if>>内容</option>
                    <option value="source" <#if option=='source'>selected</#if>>来源</option>
                </select>
                <input class="form-control" type="text" id="keyWord" value="${(keyWord)!''}">
                <a class="btn btn-primary" href="javascript:search();" role="button">搜索</a>
            </div>
        </form>
        <table class="table table_block">
            <thead class="table-bordered table_header">
                <tr>
                    <th><input class="checkbox"  id="allchk"  type="checkbox" onclick="allchk()"></th>
                    <th>新闻ID</th>
                    <th>标题</th>
                    <th>作者</th>
                    <th>来源</th>
                    <th>发布时间<a href="javascript:sort('reldt');"><span class="glyphicon glyphicon-arrow-down" id="reldt"></span></a></th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
            <#list List as info>
                <tr>
                    <td><input class="checkbox" type="checkbox" name="an" value="${info.id},${(info.imgpath)!''}"></td>
                    <td>${info.id}</td>
                    <td><a href="toViewNews.do?id=${info.id}" target="_blank">${info.title}</a></td>
                    <td>${(info.author)!''}</td>
                    <td>${(info.source)!''}</td>
                    <td><#if info.release_date?exists>${info.release_date?string("yyyy-MM-dd HH:mm")}</#if></td>
                    <td><a href="toEditNews.do?id=${info.id}">[修改]</a> </td>
                </tr>
             </#list>

                <tr class="table-bordered table_bottom">
                    <td colspan="7"><a class="btn btn-primary" href="javascript:deleteNews();" role="button" style="width: 100px;">删除</a> </td>
                </tr>
            </tbody>
        </table>
		<@Pagination/>
    </div>
    <div class="hidden_div" id="sortWord">${sortWord}</div>
    <form action="findNews.do" id="search_form" method="post">
        <input type="hidden" name="option"/>
        <input type="hidden" name="keyWord" />
        <input type="hidden" name="startdt" />
        <input type="hidden" name="enddt" />
        <input type="hidden" name="sortWord" />
        <input type="hidden" name="pageSize" />
        <input type="hidden" name="pageNow" />
    </form>
    <form action="deleteNews.do" id="del" method="post">
        <input type="hidden" name="keyStr"/>
        <input type="hidden" name="option" value="${(option)!''}"/>
        <input type="hidden" name="keyWord" value="${(keyWord)!''}"/>
        <input type="hidden" name="startdt" value="${(startdt)!''}"/>
        <input type="hidden" name="enddt" value="${(enddt)!''}"/>
        <input type="hidden" name="sortWord" value="${(sortWord)!''}"/>
        <input type="hidden" name="pageSize" value="${(pageSize)!''}"/>
        <input type="hidden" name="pageNow" value="${(pageNow)!''}"/>
    </form>
</body>
</html>